<ul class="ul-admin p-0">
    <!-- <li><a href="#">Categories Management</a></li> -->
    <li><a class="nav-link" routerLink="/showproductadmin" routerLinkActive="active" ariaCurrentWhenActive="page">Product Management</a></li>
    <li><a class="nav-link" routerLink="/showcategoryadmin" routerLinkActive="active" ariaCurrentWhenActive="page">Categories Management</a></li>
    <li><a class="nav-link" routerLink="/showaccountadmin" routerLinkActive="active" ariaCurrentWhenActive="page">Account Management</a></li>
    <li><a class="nav-link" routerLink="/showcommentadmin" routerLinkActive="active" ariaCurrentWhenActive="page">Comment Management</a></li>
    <li><a class="nav-link" routerLink="/orderadmin" routerLinkActive="active" ariaCurrentWhenActive="page">Order Management</a></li>
</ul>