<div class="container-comment container my-5">
  <h4 class="m-0 pb-4">Comment</h4>
  <div class="row">
    <div class="col-md-8">
      <div>
        <div class="d-flex align-items-center mb-3" *ngFor="let cmt of comments">
          <div *ngIf="accounts[cmt.id_account]">
            <img src="{{ accounts[cmt.id_account].avata }}" alt="Avatar" class="me-3" style="width: 50px; height: 50px;">
          </div>
          <div>
            <div *ngIf="accounts[cmt.id_account]">
              <h5 class="mb-0">{{ accounts[cmt.id_account].name }}</h5>
            </div>
            <p class="m-0">{{ cmt.comment }}</p>
          </div>
        </div>
      </div>
      <form (ngSubmit)="addcomment()">
        <div class="mb-3">
          <label for="comment" class="form-label">Enter Comments</label>
          <textarea class="form-control" id="comment" [(ngModel)]="cmt.comment" name="comment" rows="4" required></textarea>
        </div>
        <div class="btn-comment text-end">
          <button type="submit" class="btn btn-outline-dark">Gửi</button>
        </div>
      </form>
    </div>
  </div>
</div>
