<app-nav></app-nav>
<div class="cart container m-auto my-5">
  <h4>My cart</h4>
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col-3">Product information</th>
        <th scope="col-2">Price</th>
        <th scope="col-2">Quantity</th>
        <th scope="col-1">Other</th>
      </tr>
    </thead>
    <tbody id="showcart">
      <tr *ngFor="let item of carts; let i = index">
        <td class="pro-info">
          <div class="img">
            <img src="{{item.img}}" alt="">
          </div>
          <div>
            <a class="tenpro">{{ item.name }}</a>
            <i>ID: {{ item._id }}</i>
          </div>
        </td>
        <td>
          <a>{{ item.price }}</a>
        </td>
        <td>
          <input type="number" min="1" max="1000" [(ngModel)]="item.selectedQuantity">
        </td>

        <td>
          <button type="button" class="btn btn-outline-danger" (click)="removeItem(i)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-end">
          <div class="btntongtien">
            <button type="button" class="btn btn-tongtien btn-dark">
              <script>
                
              </script>
              <!-- Total amount: {{ cartItems.reduce((acc, item) => acc + item.price * item.quantity, 0) }} -->
            </button>
            <button type="button" class="btn btn-outline-dark">
              <a class="nav-link" routerLink="/order" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="addorder()">Buy Now</a>
            </button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
