<div class="container-top d-flex align-items-center">
    <div class="div-h4 d-flex align-items-center">
        <h4 class="m-0">HT Shop</h4>
    </div>
    <div class="div-input d-flex justify-content-between">
        <div class="container-input input-group d-flex align-items-center">
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary p-0" type="button" id="button-addon1">Search</button>
        </div>
        <div class="container-account d-flex align-items-center">
            <ul class="ulcha">
                <li class="licha">
                    <div id="showacc"></div>
                    <ul class="ulcon">
                        <li (click)="logout()">Log Out</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>